.pw-cart {
    padding: 32px;
    color: white;
    background-color: #31b572;
}

.pw-categoryList {
    list-style-type: none;
    padding: 32px;
    color: white;
    background-color: #31b572;
}

.pw-poem-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}